* {
    font-family: 'Raleway';
}

body {
    margin: 0px;
    display: flex;
}

#left_section {
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 50%;
    height: 100vh;
    background: rgb(235, 255, 190);
}

#right_section {
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 50%;
    height: 100vh;
    background: rgb(255, 190, 129);
}

#view_profile_btn {
    color: chartreuse;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border: none;
    width: 50%;
    background: green;
    transition: background 0.2s ease-in-out;
}

#view_profile_btn:hover {
    color: green;
    background: greenyellow;
    transition: background 0.2s ease-in-out;
}

#profile_pic_div {
    width: 100%;
    text-align: center;
}

#profile_pic {
    border-radius: 50%;
    background-size: unset;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 150px;
    height: 150px;
}